.main-container {
    width: 90%;
    height: 100vh;
    margin-inline: 5%;
    display: flex;
    gap: 52px;
}

.main-container main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 2.5%;
}

.form-container {
    max-width: 70%;
    max-height: 70vh;
    overflow: hidden scroll;
    padding-right: 30px;
}

