.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.form-login {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.box-centralize {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-inline: 10%;
}

.box-button {
    width: 100%;
}

.button-open {
    width: 100%;
    height: 50px;

    background-color: var(--pink);
    color: var(--green-text);

    border-radius: 30px;

    padding: 0px;
    padding-inline: 0px;
}

.button-open:hover {
    opacity: 80%;
}
