/* Estilo do container principal do formulário */
.input-form-container {
    width: 100%;
    height: fit-content;
    outline: 2px solid var(--text-card);
    background-color: var(--withe-color);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

/* Estilo do seletor (select) dentro do formulário */
.input-form-container select {
    padding: 8px;
    color: var(--text-card);
    font-size: 14px;
    min-width: 100px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}

/* Estilo do seletor (select) quando está em foco */
.input-form-container select:focus {
    outline: none;
}

/* Estilo da etiqueta (label) dentro do formulário */
.input-form-container > label {
    margin-left: 12px;
    margin-top: -10px;
    width: fit-content;
    padding: 4px;
    z-index: 1;
    background-color: var(--light-color);
    border-radius: 8px;
    font-size: 10px;
}

/* Estilo do campo de entrada de texto (input) dentro do formulário */
.input-form-container > input {
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 14px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    color: var(--text-card);
}

/* Estilo do campo de entrada de texto (input) quando está em foco */
.input-form-container > input:focus {
    outline: none;
}

.form-login {
    > div{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
