.list-links {
    list-style: none;
    margin: 0px;
    padding-inline: 16px;

    display: flex;
    flex-direction: column;
}

.list-links li {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.list-links li button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
}

.list-links li svg {
    width: 20px;
    height: 20px;
}